---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
  const musicEntries = await getCollection("music");
  return musicEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { title, image } = entry.data;
const { Content } = await entry.render();
---

<MainLayout title={`${title} | Jeremiah Lockwood`} active="music">
  <header class="mx-auto mb-10 flex max-w-3xl flex-col justify-center px-10">
    <h1 class="mb-10 text-center text-3xl font-bold">{title}</h1>
    <img src={image} alt={title} />
  </header>
  <main
    class="prose prose-sky prose-li:marker:text-sky-900 prose-figcaption:text-slate-700 prose-figcaption:text-center mx-auto"
  >
    <Content />
  </main>
</MainLayout>

<style is:global>
  .prose iframe {
    @apply aspect-video w-full;
  }
</style>
