---
import MainLayout from "../../layouts/MainLayout.astro";
import { getEntryBySlug } from "astro:content";

const pages = await Promise.all(
  [
    "sway-machinery",
    "gordon-lockwood",
    "golden-ages",
    "solo",
    "book-of-j",
    "composer-for-film-and-video",
    "fraternal-order-of-the-society-blues",
    "discography",
  ].map((slug) => getEntryBySlug("music", slug)),
);
---

<MainLayout title="Music | Jeremiah Lockwood">
  <main class="flex flex-col gap-20 px-10 sm:px-20">
    <h1 class="text-center text-3xl font-bold">Music</h1>
    <div class="flex flex-col gap-10 md:flex-row">
      <figure class="flex-grow">
        <iframe
          src="https://www.youtube.com/embed/d00yCDSjc_8"
          allowfullscreen
          class="aspect-video w-full"></iframe>
        <figcaption class="text-center">
          Rozo D'Shabbos, The Sway Machinery
        </figcaption>
      </figure>
      <figure class="flex-grow">
        <iframe
          src="https://www.youtube.com/embed/T1T3gzkj6bY"
          allowfullscreen
          class="aspect-video w-full"></iframe>
        <figcaption class="text-center">
          Live at Sweetwater Music Hall, 2019
        </figcaption>
      </figure>
    </div>
    <div class="flex flex-col gap-20 md:flex-row">
      <blockquote class="w-full">
        <p>
          <q>
            The musical story of Jeremiah Lockwood is almost hard to believe.
            His early musical development was guided by his grandfather, a
            Jewish cantor, and Carolina Slim, a well-known blues guitarist. All
            those influences crystallize into something unified.
          </q>
          — Joe Tangari, Pitchfork
        </p>
      </blockquote>
      <blockquote class="w-full">
        <p>
          <q>
            Jeremiah Lockwood … grew up with two disparate musical mentors. As a
            boy, Lockwood sang in the choir of his grandfather, Jacob
            Konigsberg, a renowned cantor who led the High Holidays services at
            the Loop Synagogue, in Chicago, for several decades. When he was
            fourteen, Lockwood began a lifelong apprenticeship with the
            legendary Piedmont blues master guitarist Carolina Slim, which
            mainly consisted of busking alongside the impeccably dressed Slim in
            Manhattan subway stations.
          </q>
          — The New Yorker
        </p>
      </blockquote>
    </div>
    <div class="grid gap-10 text-sm md:grid-cols-2 lg:text-base xl:grid-cols-3">
      {
        pages.map(
          (entry) =>
            entry && (
              <div>
                <a href={`/music/${entry.slug}`} class="relative aspect-square">
                  <img
                    src={entry.data.image}
                    alt={entry.data.title}
                    class="aspect-square w-full object-cover"
                  />
                  <div class="absolute bottom-0 w-full bg-sky-200/80 p-5">
                    <h3 class="font-bold">{entry.data.title}</h3>
                    {entry.data.previewText && (
                      <p>{entry.data.previewText.slice(0, 150)}...</p>
                    )}
                  </div>
                </a>
              </div>
            ),
        )
      }
    </div>
  </main>
</MainLayout>
