/* .contact__form {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.contact__form > * + * {
  margin-top: 0.2em;
}

.contact__form textarea {
  resize: none;
} */
.contact a {
  background: rgba(255, 255, 255, 0.7);
}
