h1 {
  text-align: center;
}
.container {
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
}
.row > * {
  flex-basis: 100%;
  padding: 0.5em;
  height: 250px;
  overflow-y: hidden;
}
.more-soon {
  text-align: center;
  padding: 1em;
  font-size: 3em;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.modal-preview {
  position: relative;
  cursor: pointer;
  height: 100%;
}
.modal-preview h3 {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.5em;
}
.modal-preview img {
  height: 100%;
}
.modal-content {
  z-index: 5;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  padding: 10em 0;
}
.modal-content > * {
  width: 80%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.modal-content.show {
  display: block;
}
