h1 {
  text-align: center;
}
.grid {
  padding: 1em;
  display: grid;
  gap: 1em;
  width: 100%;
  aspect-ratio: 1.5 / 1;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 20vw; */
}
.post {
  border: 1px solid;
  position: relative;
  overflow: hidden;
  /* aspect-ratio: 1; */
}
.post__card {
  color: black;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 100%;
  transition: transform 300ms;
  overflow: hidden;
}
.post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post:hover .post__card {
  transform: none;
}

@media screen and (max-width: 1100px) {
  .post__card {
    transform: none;
    height: auto;
  }
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 1 / 2;
  }
  .post__card p {
    display: none;
  }
}

.music-description {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 5em auto;
  max-width: clamp(30ch, 75vw, 70ch);
}

blockquote p {
  font-size: 1.3em;
}
