.post {
  margin: 2em auto;
  width: clamp(200px, 70vw, 1000px);
  padding: 2em 1em;
}
.post__figure {
  text-align: center;
}
.post__image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 800px;
}

.post__content > * {
  margin-top: 1em;
  line-height: 1.6em;
  font-size: 1.3em;
  max-width: 70ch;
}
.post__content blockquote {
  border-left: 5px solid;
  padding: 0.5em;
}
.post__content audio {
  display: block;
}
.post__content figure audio {
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .post__content {
    font-size: 0.8em;
  }
}
