.content {
  margin: 2em auto;
  width: clamp(200px, 70vw, 1000px);
  padding: 2em 1em;
}
.cover-image {
  width: 50%;
  height: auto;
  float: left;
  margin-right: 1em;
}
.download-pdf-box {
  float: right;
  margin-left: 1em;
  width: 40%;
  padding: 3em 1em;
  border: 5px solid;
}
.content p {
  padding: 1em 0;
  line-height: 1.5;
}
.content sup {
  line-height: 0;
}
.content blockquote {
  padding: 0.5em;
  border-left: 5px solid;
}
.content figure {
  text-align: center;
  /* margin: 1em 0; */
}

.end-of-page-image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .content {
    font-size: 0.8em;
    overflow-wrap: break-word;
  }
  .cover-image,
  .download-pdf-box {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }
}
