---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Contact | Jeremiah Lockwood" active="contact">
  <main>
    <section>
      <h1>Contact</h1>
      <p>
        You can contact Jeremiah from his email: <br />
        <a href="mailto:jeremiahdaniellockwood@yahoo.com">
          jeremiahdaniellockwood@yahoo.com
        </a>
      </p>
    </section>
  </main>
</Layout>
