---
// import { Image } from "astro:assets";
import Layout from "../layouts/MainLayout.astro";
import Event from "../components/Event.astro";
---

<Layout title="Events | Jeremiah Lockwood">
  <h1 class="mx-auto mb-20 mt-10 px-10 text-center text-4xl font-bold">
    Upcoming Events
  </h1>
  <div class="grid gap-10 px-5 lg:grid-cols-3 lg:px-20">
    <Event
      title="Khazones Underground Double Record Release Event! part of the Yiddish New York Festival"
      date="Tuesday, December 23 6:45pm"
      address="Hebrew Union College Chapel - 1 West 4th Street, Manhattan"
      description={[
        "https://yiddishnewyork2025.sched.com/event/299M2/zingeray-evening-concert-khazones-underground-double-release-concert-the-return-of-the-immortal-khazntes-the-dream-past-by-the-sway-machinery",
        "This special record release event will feature a double header of performances of new albums coming out on Khazones Underground. The Return of the Immortal Khazntes pays tribute to the pioneering women cantors of the early 20th century and features Berkson, Riki Rose, Shahanna McKinney-Baldon and Rachel Weston (and special guest!). The Dream Past is the first album in a decade from The Sway Machinery; this new project from the band takes its inspiration from bootleg tapes of cantors recorded secretly during synagogue performance. Expect virtuosic vocal performances, radical recontextualizations of the sacred, and a joyful noise scavenged from the mouths of ghosts!",
      ]}
    />
    <Event
      title="Yiddish New York Symposium - Khazones Underground: Convening a Yiddish Sacred Music Community"
      date="December 25, 2025 9:30am-12:30pm"
      address="Hebrew Union College Chapel - 1 West 4th Street, Manhattan"
      description={[
        "part of the Yiddish New York Festival",
        "https://yiddishnewyork2025.sched.com/event/299OA/yny-symposium-khazones-underground-convening-a-yiddish-sacred-music-community",
        "Participants (in alphabetical order): Cantor Judith Berkson, Barbara Kirshenblatt-Gimblett, Cantor Yanky Lemmer, Jeremiah Lockwood, Shahanna McKinney-Baldon, Riki Rose, Mark Slobin, Francesca Ter-Berg, Cantor Rachel Weston",
        "What is khazones (the cantorial tradition) and what relationship does it bear to Yiddish language and culture? Who are the multiple contemporary communities that claim khazones as the basis for creative projects and artistic careers?  What is the musical substance of khazones and how have the sounds and affects of the cantorial voice been preserved or disappeared over the course of the American Jewish 20th century? What meaning can be reclaimed from the lost prayers of our ancestors?",
        "In this three part symposium, scholars of cantorial music Judith Berkson, Jeremiah Lockwood and Mark Slobin present a broad ranging conversation on the topic of cantorial revival, presenting an overview of the history of the music, personal reflections on performance and pedagogy, and a look into the cantorial revivalist community.",
      ]}
    />
    <Event
      title="Gordon Lockwood at Terra Blues"
      date="Thursday, January 1, 2026 7-9:30pm"
      address="149 Bleecker Street, Manhattan"
      description={["https://www.terrablues.com/"]}
    />
  </div>
</Layout>
