---
// import { Image } from "astro:assets";
import Layout from "../layouts/MainLayout.astro";
import events from "../events.json";
import Event from "../components/Event.astro";
---

<Layout title="Events | Jeremiah Lockwood">
  <h1 class="mx-auto mb-20 mt-10 px-10 text-center text-4xl font-bold">
    Upcoming Events
  </h1>
  <!-- <div class="grid gap-10 px-5 lg:px-20 lg:grid-cols-2"> -->
  <div class="px-5">
    <!-- <div class="mx-auto flex max-w-prose flex-col gap-10">
      <h2 class="text-center text-2xl font-bold uppercase">
        The Sway Machinery's Branches of Light<br />
        featuring The Ebony Hillbillies
      </h2>
    </div> -->
    <main>
      <h2 class="mb-10 text-center text-2xl font-bold">Other Shows</h2>
      <div class="mx-auto flex max-w-prose flex-col gap-16">
        {
          events.length ? (
            events.map((ev) => <Event {...ev} />)
          ) : (
            <p>No upcoming events right now.</p>
          )
        }
      </div>
    </main>
  </div>
</Layout>
