---
import Layout from "src/layouts/MainLayout.astro";
import events from "../events.json";
import linkify from "linkify-string";

const addressToLink = (address: string) =>
  "https://www.google.com/maps/search/" +
  new URLSearchParams({ api: "1", query: encodeURIComponent(address) });
---

<Layout title="Events | Jeremiah Lockwood">
  <h1 class="mx-auto mb-20 mt-10 px-10 text-center text-4xl font-bold">
    Upcoming Events
  </h1>
  <main class="flex flex-wrap justify-center gap-20 px-10">
    {
      events.length ? (
        events.map(({ title, date, address, description }) => (
          <div class="flex w-full flex-col gap-2 text-xl sm:w-64">
            <p>{date}</p>
            <p>{title}</p>
            <a href={addressToLink(address)} class="text-sky-800">
              {address}
            </a>
            {description.map((line) => (
              <p
                set:html={linkify(line, {
                  className: "text-sky-800 break-all",
                })}
              />
            ))}
          </div>
        ))
      ) : (
        <p>No upcoming events right now.</p>
      )
    }
  </main>
</Layout>
