---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Jeremiah Lockwood" active="home">
  <header class="flex flex-col items-center gap-10 px-10 md:flex-row md:px-20">
    <div class="max-w-prose text-xl">
      <h1 class="mb-5 text-4xl font-bold">Jeremiah Lockwood</h1>
      <p>
        Jeremiah Lockwood is a scholar and a storyteller; a singer, guitarist
        and composer with an expansive knowledge of musical traditions and
        techniques that range from cantorial sacred music to Piedmont blues. His
        career as musician and academic engages with issues arising from peering
        into the archive and imagining the power of “lost” forms of expression
        to articulate keenly felt needs in the present.
      </p>
    </div>
    <img src="/images/Jeremiah.jpg" class="w-80 object-contain" />
  </header>
  <section class="my-20 px-10 text-center">
    <a
      href="http://eepurl.com/goSc9D"
      target="_blank"
      class="text-2xl underline underline-offset-8"
    >
      Click here to join the mailing list.
    </a>
  </section>
  <section class="my-20 px-10 text-center">
    <a href="/events" class="text-2xl underline underline-offset-8">
      Click here to find out about Jeremiah's upcoming events.
    </a>
  </section>
  <section class="mx-auto max-w-6xl p-5 sm:p-10">
    <div
      class="flex flex-col gap-5 border-2 border-dashed border-sky-800 p-5 text-center sm:p-10"
    >
      <p>Jeremiah's first book is out now:</p>
      <div class="flex flex-col items-center gap-10 lg:flex-row">
        <img
          src="/images/golden_ages_cover.jpg"
          alt="Cover image for Golden Ages"
          class="w-80 object-contain"
        />
        <div class="flex max-w-3xl flex-col gap-5 text-left">
          <h2 class="text-3xl font-bold">
            Golden Ages: Hasidic Singers and Cantorial Revival in the Digital
            Era
          </h2>
          <p>Book release with California University Press</p>
          <p class="text-center">
            <a
              href="https://www.ucpress.edu/book/9780520396425/golden-ages"
              target="_blank"
              class="text-xl underline underline-offset-8"
            >
              Order your copy here
            </a>
          </p>
          <p>
            <i>
              Golden Ages: Hasidic Singers and Cantorial Revival in the Digital
              Era
            </i> relates the engaging stories of a group of non-conformist musicians
            in the New York Chassidic community. Cantorial revivalists are singers
            who have immersed themselves in the archive of early 20th century commercial
            Jewish liturgical records, approaching them as a source to build performance
            identities and musical style. The work of cantorial revivalists is a
            product of the digital era, shaped both by access to internet-based archival
            sources and social media platforms for self- promotion. More frequently
            heard online, in private parties and in concert venues than in synagogues,
            the work of cantorial revival pushes at normative associations with Jewish
            prayer, blurring the line between ritual and art.
          </p>
        </div>
      </div>
      <p>
        <a href="/scholarship/#golden-ages">
          Read more about <u>Golden Ages</u>
        </a>
      </p>
    </div>
  </section>
  <main class="mx-auto flex max-w-prose flex-col gap-10 px-10 pt-20">
    <p>
      Jeremiah Lockwood is a scholar and musician, working in the fields of
      Jewish studies, performance studies and ethnomusicology. His work engages
      with issues arising from peering into the archive and imagining the power
      of “lost” forms of expression to articulate keenly felt needs in the
      present. Both his music performance and scholarship gravitate towards the
      Jewish liturgical music and Yiddish expressive culture of the early 20<sup
        >th</sup
      > century and the reverberations of this cultural moment in present day artistic
      and religious communities. Jeremiah’s research considers the work of cantors
      as arbiters of social, intellectual and aesthetic change in times of crisis
      and cultural transformation. Jeremiah is a current Fellow at the Katz Center
      Fellow for Advanced Judaic Research at the University of Pennsylvania. His
      first book, <i
        >Golden Ages: Hasidic singers and cantorial revival in the digital era</i
      >, was published by University of California Press in February 2024.
      Lockwood continues to maintain an active performance schedule with The
      Sway Machinery, and with <a
        href="https://www.gordonlockwood.com/"
        target="_blank"
        class="underline underline-offset-2">Gordon Lockwood</a
      >, his duo project with percussionist Ricky Gordon, a fellow disciple of
      Carolina Slim.
    </p>
    <p>
      Jeremiah received his PhD from the Stanford University Graduate School of
      Education Concentration in Education and Jewish Studies in 2021. His
      dissertation and book project illuminates the work of contemporary Hasidic
      cantors who embrace early 20<sup>th</sup> century cantorial music as a non-conforming
      aesthetic and spiritual practice that cuts against the grain of the musical
      and social norms of their birth community. He was a 2022-23 Yale Institute
      of Sacred Music Fellow, where he conducted research on the <i>khaznte</i>
      phenomenon of popular women performers of cantorial music in the early 20<sup
        >th</sup
      > century and composed a new piece of music, titled <i
        >In der vayber shul</i
      >/In the Women’s Synagogue that offered a creative response to this fecund
      moment in Jewish musical history and premiered at Yale on April 1, 2023.
      Jeremiah was the recipient of the 2021 Salo Baron New Voices in Jewish
      Studies Award and the 2019-20 recipient of the YIVO Kremen Memorial
      Fellowship in East European Arts, Music and Theater.
    </p>
    <p>
      Lockwood’s music career began with over a decade of apprenticeship to the
      legendary Piedmont Blues musician Carolina Slim, playing in the subways of
      New York City. He also trained under his grandfather Cantor Jacob
      Konigsberg and performed in his choir. His band The Sway Machinery seeks
      inspiration from diverse realms of experience related to the cultural
      geography of New York City. The Sway Machinery has played around the
      world, including stints at legendary music festivals like Montreal Jazz,
      Roskilde, and perhaps most notably, Festival au Desert in Timbuktu, Mali.
      In addition to leading The Sway Machinery, Lockwood toured for years as
      guitarist in the popular world-beat band Balkan Beat Box and has scored
      numerous film and video projects. Lockwood’s duo project with musician
      Jewlia Eisenberg (of blessed memory), Book of J, released their debut
      album in 2018 to critical acclaim and were artists in residence at YIVO,
      University of Colorado, University of Chicago, Williams College, and
      Cornell University, among other residencies and projects.
    </p>
  </main>
</Layout>
