---
import Layout from "../layouts/MainLayout.astro"
const heroImage = "/images/Jeremiah.jpg"
---

<Layout title="Jeremiah Lockwood" active="home">
  <header class="split-ish">
    <div class="hero__text">
      <h1>Jeremiah Lockwood</h1>
      <p class="hero__para">
        Jeremiah Lockwood is a scholar and a storyteller; a singer, guitarist and composer
        with an expansive knowledge of musical traditions and techniques that range from
        cantorial sacred music to Piedmont blues. His career as musician and academic
        engages with issues arising from peering into the archive and imagining the power
        of “lost” forms of expression to articulate keenly felt needs in the present.
      </p>
    </div>
    <img class="hero__image" src={heroImage} />
  </header>
  <main class="main">
    <aside class="mailing-list">
      <a href="http://eepurl.com/goSc9D" target="_blank">
        Click here to join the mailing list.
      </a>
    </aside>
    <aside style="border:5px solid black;">
      <h2>The Dream Past: A Sonic Conjuring</h2>
      <p>
        new immersive music experience <br />
        for the Yamim Noraim (days of awe) from <br />
        <strong>THE SWAY MACHINERY</strong>
      </p>
      <p>
        September 21, 2023 7:30pm <br />
        Union Temple - 17 Eastern Parkway, Brooklyn Presented by <br />
        Congregation Beth Elohim
      </p>
      <img
        src="/images/Yiddish-Time-Machine---Text.jpg"
        alt=""
        style="width:100%;margin-top:2rem;"
      />
      <p>
        On September 21, 2023, during the “days of awe” between Rosh Hashana and Yom
        Kipur, you are invited to the premiere performance of
        <strong>The Dream Past: A Sonic Conjuring</strong>, the latest project of the
        “unclassifiable and uplifting” (The New Yorker) Brooklyn rock band,
        <strong>The Sway Machinery</strong>. Presented by Congregation Beth Elohim in the
        hauntingly beautiful historic Union Temple, an unreconstructed ruin of an art deco
        synagogue, this new set of music draws on the cantorial tradition, initiating a
        dance with the ghosts. Featuring the double-front of vocalists Yuli Ya’el Be’eri
        and band-leader Jeremiah Lockwood, the ace horn section of band-cofounders Stuart
        Bogie and Jordan McLean, and the great beauty of drummer John Bollinger, The Dream
        Past extends the band’s long running project of
        <i>cantorial revival</i>—excavating the otherworldly potentials of Jewish sacred
        music and lost melodies to instigate a party, break boundaries between
        communities, and touch the past. Like its debut project,
        <i>Hidden Melodies Revealed</i>, which also drew upon High Holidays liturgy, The
        Dream Past offers an expansive vision of what can be achieved through commitment
        to ancestor voices and reciprocity with the dead. This new work turns to a lost
        and now rediscovered archive of bootleg recordings of live prayer leading as the
        source material for its ecstatic transformation.
      </p>
    </aside>
    <p class="main__para">
      Jeremiah Lockwood is a musician, scholar, curator and author. He is the founder of
      The Sway Machinery, a project that seeks inspiration from diverse realms of
      experience related to the cultural geography of New York City. His forthcoming book,
      <em>Golden Ages: Chassidic singers and cantorial revival in the digital era</em>, is
      a study of young singers in the Brooklyn Chassidic community who study early 20th
      century cantorial records as the basis for new musical practices and approaches to
      prayer leading.
    </p>
    <p class="main__para">
      Jeremiah is currently a 2022-23 Fellow at the Yale Institute of Sacred Music.
      Jeremiah received his PhD from the Stanford University Graduate School of Education
      Concentration in Education and Jewish Studies in 2020. Lockwood is the recipient of
      the 2021 Salo Baron New Voices in Jewish Studies Award, the 2019-20 YIVO Kremen
      Memorial Fellowship in East European Arts, Music and Theater, and the 2020 AJS
      Women's Caucus innovative scholarship award.
    </p>
    <p class="main__para">
      The son of composer Larry Lockwood, Jeremiah’s music career began with over a decade
      of apprenticeship to the legendary Piedmont Blues musician Carolina Slim, playing in
      the subways of New York City. He also trained under his grandfather Cantor Jacob
      Konigsberg and performed in his choir. His band The Sway Machinery has played around
      the world, including stints at legendary music festivals like Montreal Jazz,
      Roskilde, and perhaps most notably, Festival au Desert in Timbuktu, Mali.
    </p>
    <p class="main__para">
      In addition to leading The Sway Machinery, Jeremiah toured for years as guitarist in
      the popular world-beat band Balkan Beat Box and has scored numerous film and video
      projects. Jeremiah was a recipient of the 2007-8 Six Points Fellowship for Emerging
      Jewish Artists, was 2010 Artist-in-Residence for the Forward and was a 2011 Brooklyn
      Philharmonic Orchestra Composer Fellow. Jeremiah’s duo project Book of J, with
      musician Jewlia Eisenberg (of blessed memory), released their debut album in 2018 to
      critical acclaim.
    </p>
  </main>
</Layout>

<style>
  .split-ish {
    display: flex;
  }

  .split-ish > * {
    width: 100%;
  }

  .hero__text h1 {
    text-align: center;
    padding: 1em 0;
    line-height: 1.2em;
  }

  .hero__para {
    text-align: center;
    font-size: 1.5em;
  }

  .hero__image {
    height: 500px;
    object-fit: contain;
    animation: embiggen 1s;
  }

  .main {
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 5em auto;
    max-width: clamp(30ch, 75vw, 70ch);
  }

  .main__para {
    margin: 2em 0;
  }

  @keyframes embiggen {
    from {
      transform: scale(0.8) translateY(10%);
      opacity: 0;
    }
  }

  @media screen and (max-width: 1000px) {
    .split-ish {
      flex-direction: column;
    }

    .hero__image {
      margin-top: 5em;
    }
  }

  .mailing-list {
    text-align: center;
  }

  .mailing-list a {
    display: inline-block;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
    background: darkblue;
    color: lightblue;
    text-decoration: none;
    border-radius: 0.35rem;
  }

  .mailing-list a:hover {
    opacity: 0.8;
  }

  aside {
    padding: 3rem;
  }
  aside p {
    margin-top: 2rem;
  }
</style>
