---
import Layout from "../layouts/MainLayout.astro";
const heroImage = "/images/Jeremiah.jpg";
---

<Layout title="Jeremiah Lockwood" active="home">
  <header class="split-ish">
    <div class="hero__text">
      <h1>Jeremiah Lockwood</h1>
      <p class="hero__para">
        Jeremiah Lockwood is a scholar and a storyteller; a singer, guitarist
        and composer with an expansive knowledge of musical traditions and
        techniques that range from cantorial sacred music to Piedmont blues. His
        career as musician and academic engages with issues arising from peering
        into the archive and imagining the power of “lost” forms of expression
        to articulate keenly felt needs in the present.
      </p>
    </div>
    <img class="hero__image" src={heroImage} />
  </header>
  <main class="main">
    <aside class="mailing-list">
      <a href="http://eepurl.com/goSc9D" target="_blank">
        Click here to join the mailing list.
      </a>
    </aside>
    <aside style="border:5px solid black;">
      <h2>
        Golden Ages: Hasidic Singers and Cantorial Revival in the Digital Era
      </h2>
      <p>Book release with California University Press, February 2024</p>
      <p>
        <a
          href="https://www.ucpress.edu/book/9780520396425/golden-ages"
          target="_blank">Order your copy here</a
        >
      </p>
      <img
        src="/images/golden_ages_cover.jpg"
        alt=""
        style="display:block;width:80%;margin:2rem auto 0;"
      />
      <p>
        <i>
          Golden Ages: Hasidic Singers and Cantorial Revival in the Digital Era
        </i> relates the engaging stories of a group of non-conformist musicians
        in the New York Chassidic community. Cantorial revivalists are singers who
        have immersed themselves in the archive of early 20th century commercial
        Jewish liturgical records, approaching them as a source to build performance
        identities and musical style. The work of cantorial revivalists is a product
        of the digital era, shaped both by access to internet-based archival sources
        and social media platforms for self- promotion. More frequently heard online,
        in private parties and in concert venues than in synagogues, the work of
        cantorial revival pushes at normative associations with Jewish prayer, blurring
        the line between ritual and art.
      </p>
      <p style="text-align:center;">
        <a href="/scholarship/#golden-ages"
          >Read more about <u>Golden Ages</u></a
        >
      </p>
    </aside>
    <p class="main__para">
      Jeremiah Lockwood is a scholar and musician, working in the fields of
      Jewish studies, performance studies and ethnomusicology. His work engages
      with issues arising from peering into the archive and imagining the power
      of “lost” forms of expression to articulate keenly felt needs in the
      present. Both his music performance and scholarship gravitate towards the
      Jewish liturgical music and Yiddish expressive culture of the early 20<sup
        >th</sup
      > century and the reverberations of this cultural moment in present day artistic
      and religious communities. Jeremiah’s research considers the work of cantors
      as arbiters of social, intellectual and aesthetic change in times of crisis
      and cultural transformation. Jeremiah is a current Fellow at the Katz Center
      Fellow for Advanced Judaic Research at the University of Pennsylvania. His
      first book, <i
        >Golden Ages: Hasidic singers and cantorial revival in the digital era</i
      >, will be published by University of California Press in February 2024.
    </p>
    <p class="main__para">
      Jeremiah received his PhD from the Stanford University Graduate School of
      Education Concentration in Education and Jewish Studies in 2021. His
      dissertation and book project illuminates the work of contemporary Hasidic
      cantors who embrace early 20<sup>th</sup> century cantorial music as a non-conforming
      aesthetic and spiritual practice that cuts against the grain of the musical
      and social norms of their birth community. He was a 2022-23 Yale Institute
      of Sacred Music Fellow, where he conducted research on the <i>khazente</i>
      phenomenon of popular women performers of cantorial music in the early 20<sup
        >th</sup
      > century and composed a new piece of music, titled <i
        >In der vayber shul</i
      >/In the Women’s Synagogue that offered a creative response to this fecund
      moment in Jewish musical history and premiered at Yale on April 1, 2023.
      Jeremiah was the recipient of the 2021 Salo Baron New Voices in Jewish
      Studies Award and the 2019-20 recipient of the YIVO Kremen Memorial
      Fellowship in East European Arts, Music and Theater.
    </p>
    <p class="main__para">
      Lockwood’s music career began with over a decade of apprenticeship to the
      legendary Piedmont Blues musician Carolina Slim, playing in the subways of
      New York City. He also trained under his grandfather Cantor Jacob
      Konigsberg and performed in his choir. His band The Sway Machinery seeks
      inspiration from diverse realms of experience related to the cultural
      geography of New York City. The Sway Machinery has played around the
      world, including stints at legendary music festivals like Montreal Jazz,
      Roskilde, and perhaps most notably, Festival au Desert in Timbuktu, Mali.
      In addition to leading The Sway Machinery, Lockwood toured for years as
      guitarist in the popular world-beat band Balkan Beat Box and has scored
      numerous film and video projects. Lockwood’s duo project with musician
      Jewlia Eisenberg (of blessed memory), Book of J, released their debut
      album in 2018 to critical acclaim and were artists in residence at YIVO,
      University of Colorado, University of Chicago, Williams College, and
      Cornell University, among other residencies and projects.
    </p>
    <p class="main__para">
      Lockwood continues to maintain an active performance schedule with The
      Sway Machinery, and with <a
        href="https://www.gordonlockwood.com/"
        target="_blank">Gordon Lockwood</a
      >, his duo project with percussionist Ricky Gordon, a fellow disciple of
      Carolina Slim.
    </p>
  </main>
</Layout>

<style>
  .split-ish {
    display: flex;
  }

  .split-ish > * {
    width: 100%;
  }

  .hero__text h1 {
    text-align: center;
    padding: 1em 0;
    line-height: 1.2em;
    font-size: 2rem;
  }

  .hero__para {
    text-align: center;
    font-size: 1.5em;
  }

  .hero__image {
    height: 500px;
    object-fit: contain;
    animation: embiggen 1s;
  }

  .main {
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 5em auto;
    max-width: clamp(30ch, 75vw, 70ch);
  }

  .main__para {
    margin: 2em 0;
  }

  @keyframes embiggen {
    from {
      transform: scale(0.8) translateY(10%);
      opacity: 0;
    }
  }

  @media screen and (max-width: 1000px) {
    .split-ish {
      flex-direction: column;
    }

    .hero__image {
      margin-top: 5em;
    }
  }

  .mailing-list {
    text-align: center;
  }

  .mailing-list a {
    display: inline-block;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
    background: darkblue;
    color: lightblue;
    text-decoration: none;
    border-radius: 0.35rem;
  }

  .mailing-list a:hover {
    opacity: 0.8;
  }

  aside {
    padding: 3rem;
  }
  aside p {
    margin-top: 2rem;
  }
</style>
