---
import Layout from "../layouts/MainLayout.astro"
const heroImage = "/images/Jeremiah.jpg"
const albumImage = "/images/golden_ages.jpeg"
---

<Layout title="Jeremiah Lockwood" active="home">
  <header class="split-ish">
    <div class="hero__text">
      <h1>Jeremiah Lockwood</h1>
      <p class="hero__para">
        Jeremiah Lockwood is a scholar and a storyteller; a singer, guitarist and composer
        with an expansive knowledge of musical traditions and techniques that range from
        cantorial sacred music to Piedmont blues. His career as musician and academic
        engages with issues arising from peering into the archive and imagining the power
        of “lost” forms of expression to articulate keenly felt needs in the present.
      </p>
    </div>
    <img class="hero__image" src={heroImage} />
  </header>
  <main class="main">
    <aside class="mailing-list">
      <a href="http://eepurl.com/goSc9D" target="_blank">
        Click here to join the mailing list.
      </a>
    </aside>
    <div class="album-notice">
      <img
        class="album-img"
        src={albumImage}
        alt="A Great Miracle: Jeremiah Lockwood's Guitar Soli Chanukah Record"
      />
      <p class="main__para">
        Produced by Dr. Jeremiah Lockwood, Golden Ages is a window into a remarkable music
        scene in today's Brooklyn that is bubbling with life, hidden away from view of
        most music lovers. It is located in communities in Williamsburg and Borough Park,
        and its key players are young Chassidic singers. In the ultra-Orthodox community,
        older forms of Jewish music have largely been displaced by pop-music that sounds a
        lot like what you would hear on the mainstream radio, but with pious lyrics in
        Yiddish or prayer book Hebrew. A small but vibrant group of young singers have
        taken up the style of pre-World War Two cantorial music as their art form of
        choice, performing tracks recorded a century ago. This album documents the raw and
        vital sounds of communication across the divide of time.
      </p>
      <p>
        <a
          href="https://jewishfestival.bandcamp.com/album/golden-ages-brooklyn-chassidic-cantorial-revival-today"
        >
          Listen on Bandcamp
        </a>
      </p>
    </div>
    <p class="main__para">
      Jeremiah Lockwood is a musician, scholar, curator and author. He is the founder of
      The Sway Machinery, a project that seeks inspiration from diverse realms of
      experience related to the cultural geography of New York City. His forthcoming book,
      <em>Golden Ages: Chassidic singers and cantorial revival in the digital era</em>, is
      a study of young singers in the Brooklyn Chassidic community who study early 20th
      century cantorial records as the basis for new musical practices and approaches to
      prayer leading.
    </p>
    <p class="main__para">
      Jeremiah is currently a 2022-23 Fellow at the Yale Institute of Sacred Music.
      Jeremiah received his PhD from the Stanford University Graduate School of Education
      Concentration in Education and Jewish Studies in 2020. Lockwood is the recipient of
      the 2021 Salo Baron New Voices in Jewish Studies Award, the 2019-20 YIVO Kremen
      Memorial Fellowship in East European Arts, Music and Theater, and the 2020 AJS
      Women's Caucus innovative scholarship award.
    </p>
    <p class="main__para">
      The son of composer Larry Lockwood, Jeremiah’s music career began with over a decade
      of apprenticeship to the legendary Piedmont Blues musician Carolina Slim, playing in
      the subways of New York City. He also trained under his grandfather Cantor Jacob
      Konigsberg and performed in his choir. His band The Sway Machinery has played around
      the world, including stints at legendary music festivals like Montreal Jazz,
      Roskilde, and perhaps most notably, Festival au Desert in Timbuktu, Mali.
    </p>
    <p class="main__para">
      In addition to leading The Sway Machinery, Jeremiah toured for years as guitarist in
      the popular world-beat band Balkan Beat Box and has scored numerous film and video
      projects. Jeremiah was a recipient of the 2007-8 Six Points Fellowship for Emerging
      Jewish Artists, was 2010 Artist-in-Residence for the Forward and was a 2011 Brooklyn
      Philharmonic Orchestra Composer Fellow. Jeremiah’s duo project Book of J, with
      musician Jewlia Eisenberg (of blessed memory), released their debut album in 2018 to
      critical acclaim.
    </p>
  </main>
</Layout>

<style>
  .split-ish {
    display: flex;
  }

  .split-ish > * {
    width: 100%;
  }

  .hero__text h1 {
    text-align: center;
    padding: 1em 0;
    line-height: 1.2em;
  }

  .hero__para {
    text-align: center;
    font-size: 1.5em;
  }

  .hero__image {
    height: 500px;
    object-fit: contain;
    animation: embiggen 1s;
  }

  .main {
    font-size: 1.5em;
    line-height: 1.2em;
    margin: 5em auto;
    max-width: clamp(30ch, 75vw, 70ch);
  }

  .main__para {
    margin: 2em 0;
  }

  @keyframes embiggen {
    from {
      transform: scale(0.8) translateY(10%);
      opacity: 0;
    }
  }

  @media screen and (max-width: 1000px) {
    .split-ish {
      flex-direction: column;
    }

    .hero__image {
      margin-top: 5em;
    }
  }

  .album-notice {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8em;
  }

  .album-img {
    width: 70%;
    object-fit: contain;
    margin: 0 auto;
  }

  .mailing-list {
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .mailing-list a {
    display: inline-block;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
    background: darkblue;
    color: lightblue;
    text-decoration: none;
    border-radius: 0.35rem;
  }

  .mailing-list a:hover {
    opacity: 0.8;
  }
</style>
