---
import Layout from "src/layouts/MainLayout.astro";

import coverImage from "../assets/images/Jeremiah smaller.png?url";
import resume from "../assets/images/Jeremiah_Lockwood_CV2023-24.pdf?url";
import endImage from "../assets/images/IMG_6187.JPG?url";
---

<Layout title="Scholarship | Jeremiah Lockwood" active="scholarship">
  <main class="content">
    <h1 class="title">Scholarship</h1>
    <img class="cover-image" src={coverImage} alt="" />
    <p>
      Jeremiah Lockwood is a scholar and musician, working in the fields of
      Jewish studies, performance studies and ethnomusicology. His work engages
      with issues arising from peering into the archive and imagining the power
      of “lost” forms of expression to articulate keenly felt needs in the
      present. Both his music performance and scholarship gravitate towards the
      Jewish liturgical music and Yiddish expressive culture of the early 20<sup
        >th</sup
      >
      century and the reverberations of this cultural moment in present day artistic
      and religious communities. Jeremiah’s research considers the work of cantors
      as arbiters of social, intellectual and aesthetic change in times of crisis
      and cultural transformation. Jeremiah received his PhD from the Stanford University
      Graduate School of Education Concentration in Education and Jewish Studies
      in 2021. He is currently a Fellow at the University of Pennsylvania Katz Center
      for Advanced Judaic Studies.
    </p>
    <p>
      In 2021-22, Jeremiah was a Research Fellow at the UCLA Milken Center for
      Jewish American life. As part of this fellowship, he wrote a 30-part blog
      series offering snapshots of his archival and ethnographic research. <a
        target="_blank"
        href="https://schoolofmusic.ucla.edu/resources/conversations-words-music-from-the-american-jewish-experience/"
      >
        CLICK HERE TO EXPLORE THE BLOG.
      </a> Jeremiah is the Lead Researcher for the Cantorial and Synagogue Music
      Archive (CSMA), an ongoing project of the Cantors Assembly Foundation. In this
      role, he works with elder cantors to preserve, digitize and disseminate their
      personal collections of unique 19<sup>th</sup> and 20<sup>th</sup> century
      cantorial musical scores. The archive that is being built is currently available
      online even as it continues to grow. <a
        target="_blank"
        href="https://archive.cantors.org/"
      >
        CLICK HERE TO VISIT THE CSMA ARCHIVE.</a
      >
      Jeremiah was a 2022-23 Fellow at the Yale Institute of Sacred Music.
    </p>
    <div class="download-pdf-box">
      <h3>Download Jeremiah's Resume:</h3>
      <a href={resume} download="Jeremiah_Lockwood_CV2023-24.pdf">
        Jeremiah_Lockwood_CV2023-24.pdf
      </a>
    </div>
    <p>
      Jeremiah was the 2019-20 recipient of the YIVO Kremen Memorial Fellowship
      in East European Arts, Music and Theater, the 2020 AJS Women's Caucus
      innovative scholarship award and the 2021 Salo Baron New Voices in Jewish
      Studies Award. His writing has been published in
      <cite>Religion and American Culture</cite>,
      <cite>Studies in American Jewish Literature</cite>,
      <cite>Germanica</cite>, and <cite>In geveb</cite>, as well as in popular
      publications such as <cite>Tablet</cite> and the <cite>Forward</cite>.
    </p>
    <p>
      Jeremiah’s book, <cite>Golden Ages</cite> is an ethnographic study of young
      singers in the contemporary Brooklyn Hasidic community who base their aesthetic
      explorations of the culturally intimate space of prayer on the gramophone-era
      cantorial golden age. Jeremiah Lockwood proposes a view of their work as a
      nonconforming social practice that calls upon the sounds and structures of
      Jewish sacred musical heritage to disrupt the aesthetics and power hierarchies
      of their conservative community, defying institutional authority and pushing
      at normative boundaries of sacred and secular. Beyond its role as a desirable
      art form, golden age cantorial music offers aspiring Hasidic singers a form
      of Jewish cultural productivity in which artistic excellence, maverick outsider
      status, and sacred authority are aligned.
    </p>

    <h2 id="projects">Projects</h2>
    <h3 id="golden-ages">Golden Ages</h3>

    <img src="/images/golden_ages_cover.jpg" class="float-img" alt="" />
    <p>
      <i>
        Golden Ages: Hasidic Singers and Cantorial Revival in the Digital Era
      </i>
      relates the engaging stories of a group of non-conformist musicians in the
      New York Chassidic community. Cantorial revivalists are singers who have immersed
      themselves in the archive of early 20th century commercial Jewish liturgical
      records, approaching them as a source to build performance identities and musical
      style. The work of cantorial revivalists is a product of the digital era, shaped
      both by access to internet-based archival sources and social media platforms
      for self- promotion. More frequently heard online, in private parties and in
      concert venues than in synagogues, the work of cantorial revival pushes at
      normative associations with Jewish prayer, blurring the line between ritual
      and art.
    </p>

    <p>
      <a href="https://www.ucpress.edu/book/9780520396425/golden-ages">
        Order your copy here.
      </a>
    </p>

    <p>
      I suggest that contemporary Hasidic cantorial revivalists are not only
      reviving a style of music but are also engaged in a revival of a form of
      comportment in prayer that foregrounds the role of cantor as arbiter of
      sacred experience. For cantorial revivalists to achieve their musical
      goals they must interpolate audiences into an embodied emotional response
      to the musical cues of the prayer leader. Producing this kind of sacred
      music community, centered on the experience of listening to the archive,
      is a utopian aspiration that has not been realized by the revivalists, and
      perhaps cannot be achieved in the cultural climate of the American
      synagogue. This has not dissuaded singers from investing time and
      resources into self-cultivation of a musical practice with no clear home
      in the current moment.
    </p>

    <p>
      Golden Ages: Brooklyn Chassidic Cantorial Revival Today, an album produced
      by Jeremiah Lockwood featuring some of the brightest voices in the
      Brooklyn cantorial scene, will be reissued in 2024.
    </p>

    <p>
      Concerts of cantors featured in the book take place on an ongoing basis.
      Look out for a Germany tour in March 2024! A concert with Yanky Lemmer,
      Yoel Kohn and Shimmy Miller, produced, accompanied and featuring new
      string quartet arrangements by Lockwood, debuted at the 2022 Krakow Jewish
      Culture Festival.
    </p>

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/videoseries?si=DwgyycShSaX0aR9b&list=PLB_oGo-IeHOFfKncWT66GKk7485m5ArR1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>

    <h3>
      Melody Like a Confession: a Cultural History of the Cantorial Gramophone
      Era
    </h3>
    <p>
      The term cantorial “golden age” signals a period of mediatization and
      popularization of Ashkenazi liturgical music in the transnational
      Yiddish-speaking Jewish community from roughly the last decade of the 19<sup
        >th</sup
      > century to the decade following the Holocaust. In this period cantors moved
      ritual music out of synagogue spaces and into the newly emerging media sphere
      of concert stages, Yiddish theater, radio and, most crucially for the emergence
      of new practices of sacred listening, the gramophone record. Cantors of the
      golden age offered a model of a new form of Jewish personhood: an artist who
      moved between worlds of aesthetic achievement, performance, sensual pop culture
      iconography, engagement with the burning political ideologies of the period,
      and sacred authority.
    </p>
    <p>
      My proposed second book project I am currently at work on, <cite
        >Melody Like a Confession</cite
      >, will constitute the first monograph on the cultural history of the
      transnational gramophone era cantorial phenomenon. This proposed book
      project will bridge archival research, ethnomusicological analysis, and a
      cultural studies approach steeped in the fields of performance studies and
      comparative literature. The project is premised on the view of cantorial
      music as both a form of expressive culture and an intellectual movement
      within a rapidly evolving period of social change and cultural
      reinvention. Cantorial music, in the eyes of its key practitioners and
      their critics on both sides of the Jewish Atlantic world, offered a
      populist response to modernization, state violence, and migration.
    </p>
    <figure>
      <iframe src="https://www.youtube.com/embed/QC6dco1hdec" allowfullscreen
      ></iframe>
      <figcaption>
        Presentation Prayer and Crime, December 2020, with Yoel Kohn and David
        Reich
      </figcaption>
    </figure>
    <p>
      In my previous dissertation research and book project, titled Golden Ages:
      Hasidic singers and
      <cite
        >cantorial revival in the digital era, I offered an ethnographic study
        of young singers in the</cite
      >
      Brooklyn Hasidic community who look to the cantorial golden age for the stylistic
      basis of their own aesthetic explorations. In my book I propose a view of their
      work as a non-conforming social practice within the conservative contemporary
      Hasidic community. Hasidic cantors call upon the sounds and structures of Jewish
      sacred musical heritage to stage a disruption in the aesthetics and power hierarchies
      of their community. Beyond its role as a desirable art form, golden age cantorial
      music offers a model for aspiring Hasidic singers of a form of Jewish cultural
      productivity in which artistic excellence, maverick outsider status, and sacred
      authority were aligned. The work of these contemporary cantors offers clues
      about the meaning of the work of gramophone era cantors, suggesting that these
      historical figures offer a precedent for musical and social practices that
      defy institutional authority and push at normative boundaries of sacred and
      secular by foregrounding artist’s voices in the culturally intimate space of
      prayer.
    </p>
    <p>
      I intend for my further research on “golden age” cantors to amend a lacuna
      in modern Jewish cultural history and contribute to broader interventions
      that advocate for a view of artists and aesthetics as needed elements in
      constructing histories of marginalized communities. Pursuing archival
      research about gramophone era cantors, I have made preliminary findings in
      the Yiddish press that suggest cantors were founts of passionate
      controversy, aesthetic partisanship, and fulcrums of communal fundraising
      and organizing in the immigrant community in the United States. Cantors
      and their critics debated the appropriateness of sound recording,
      performance outside of the synagogue, and the commercialization of the
      sacred. These themes in the cantorial sphere paralleled discussions among
      Yiddish authors about the dialectical role of literature and theater as
      forms of intellectual cultivation versus their potential impact as a
      degrading form of populism. Cantors engaged in cultivating a conception of
      Jewish memory that pivoted between nostalgic images of an imagined Jewish
      folkloric past and appeals to the ineffable and transcendent in music that
      would establish a Jewish aesthetic parallel to the achievements of
      European classical music. These aesthetic claims run parallel to
      contemporary Jewish political movements that pivoted between nationalism
      and socialism.
    </p>
    <p>
      Artists in the cantorial market were often considered “outsiders” because
      of their lack of rabbinic pedigree or economic elite status. Cantorial
      stars were at times reviled by conservative critics for their lack of
      adherence to norms of religious orthodoxy, even as they were subjects of
      public adulation. The emergence of new media opened cantorial performance
      to artists with controversial identities, including women cantors, often
      referred to in Yiddish as <i lang="y">khazentes</i>. The
      <i>khazente</i> phenomenon, that seems to have begun in the 1910s, brought
      women cantors to the forefront of popularity, even as they were rejected as
      ritual leaders in synagogues. The study of the cantorial golden age will bring
      these important yet forgotten artists into the light of day and reevaluate
      the gendered history of liturgy and aesthetics by attending to their work.
    </p>
    <p>
      <cite>Melody Like a Confession</cite> will address the central themes of the
      cantorial populist movement in thematically organized chapters. I have already
      completed a draft of a chapter on the <i>khazentes</i>, early 20<sup
        >th</sup
      > century women cantors. I have developed a prospectus and research agenda
      for the other chapters of the book. The proposed chapter are: an introduction
      that will offer a synthetic approach to the representation of cantors and their
      music in the Yiddish press and literature; a chapter focusing on the political
      commitments of cantors and their pivotal involvement as ideologues and fund
      raisers in labor union politics and Zionism; a chapter that will focus on the
      culture of chastisement and the ethical ambiguities that surrounded cantors
      as both preservers of sacred heritage and pop culture stars; and a final chapter
      that will look at the reception of the cantorial gramophone era in its various
      “afterlives” across the 20 th and 21 st centuries. This work will present an
      important reparative to the dearth of serious scholarship on an era that is
      referred to as a “golden age” and that plays an outsized and highly mythologized
      role in the conception of Jewish musical heritage. By placing cantors in dialogue
      with Yiddish literature and Jewish political movements, I will move the discussion
      of Jewish sacred music out of its current highly parochialized place and cultivate
      a more robust approach to this pivotal intellectual and aesthetic movement
      in Jewish life.
    </p>

    <h3>
      <cite>Live davenings</cite>: technologies of ritual learning and the
      convening of a Jewish sacred music underground
    </h3>
    <p>Forthcoming article in <cite>Jewish Social Studies</cite>.</p>
    <p>
      At the onset of the 21<sup>st</sup> century, Jewish musicians from across a
      diverse array of communities have displayed a renewed interest in <i
        lang="y">khazones</i
      >, an aestheticized version of cantorial prayer leading associated with a
      mass mediated pop culture phenomenon in the early 20<sup>th</sup> century.
      This musical revival of a century old genre of prayer music has been facilitated
      in part due to a new accessibility of recordings of cantorial prayer performance
      through the internet. Surreptitiously collected field recordings of cantors
      at the pulpit, made in disregard for the rules of synagogue comportment, circulated
      for decades among a small group of collectors in an underground economy of
      homemade dubbed cassettes. These secret recordings, referred to as “live davenings,”
      usurp the characteristic ephemerality of prayer to document a 20<sup
        >th</sup
      > century aesthetic concept of cantorial music as an art form beyond its ritual
      function. In the past decade many of these recordings have surfaced on YouTube
      and file sharing sites, reaching an expanded audience, exposing a new generation
      to a largely abandoned style of liturgical performance. Through ethnography
      with elder field recording makers, internet-savvy collectors, and the artists
      who use the secrets in the live davening archive to build projects of cantorial
      revival, this article offers an examination of a body of archival material
      that has not previously been the topic of any scholarly investigation. This
      exploration of live davenings contributes to a fuller historical picture of
      the role media plays in determining what constitutes a reliable source of knowledge
      about Jewish sacred sound in America, arguing that electronically mediated
      prayer music serves as a form of prosthesis that repairs lost cultural intimacy,
      protecting against the perceived deterioration of tradition, a crisis that
      haunts both the cantorial profession and broader discourses within Jewish American
      culture.
    </p>

    <h2>Publications</h2>

    <h3>BOOKS</h3>
    <p>
      Lockwood, Jeremiah.
      <cite
        >Golden Ages: Hasidic Singers and Cantorial Revival in the Digital Era.
      </cite>
      UC Press in the Jewish Cultures and History Series. 2024.
    </p>
    <p>
      <a
        href="https://www.ucpress.edu/book/9780520396425/golden-ages"
        class="long">https://www.ucpress.edu/book/9780520396425/golden-ages</a
      >
    </p>

    <h3>ARTICLES AND CHAPTERS</h3>

    <p>
      Lockwood, J. “<i>Live davenings</i>: technologies of ritual learning and
      the convening of a Jewish sacred music underground.”
      <cite>Jewish Social Studies.</cite> Forthcoming.
    </p>
    <p>
      Lockwood, J. “Jewlia Eisenberg and Queer Piyut.”
      <cite>Contemporary Jewry.</cite> 2023.
    </p>
    <p>
      Lockwood, J. “Hassidic Cantors ‘Out of Context’: Venues of Contemporary
      Cantorial Performance.”
      <cite>Oxford Handbook of Jewish Music.</cite> 2023.
    </p>
    <p>
      Lockwood, J. “Prayer and crime: Cantor Elias Zaludkovsky’s concert
      performance season in 1924 Poland.”
      <cite>In Geveb: A Journal of Yiddish Studies.</cite> 2022.
      <a target="_blank" href="https://ingeveb.org/articles/prayer-and-crime">
        https://ingeveb.org/articles/prayer-and-crime
      </a>
    </p>
    <p>
      Lockwood, J. “What is the cantorial ‘Golden Age’?
      <i lang="yi">hefker khazones</i>
      (wanton cantorial music) or ‘the key to the Jewish soul’?”
      <cite> Cantors Assembly 75th Anniversary Journal.</cite> 2022.
      <a
        href="https://www.academia.edu/86287460/What_Is_the_Cantorial_Golden_Age_Hefker_Khazones_or_the_Key_to_the_Jewish_Soul_"
        class="long"
        >https://www.academia.edu/86287460/What_Is_the_Cantorial_Golden_Age_Hefker_Khazones_or_the_Key_to_the_Jewish_Soul_</a
      >
    </p>
    <p>
      Lockwood, J.
      <span lang="fr">
        “Prière et crime dans la Pologne de l’entre-deux guerre: L’agenda
        musical 1924 du chantre Elias Zaludkovsky.”
      </span>
      Translated by Marie Schumacher-Brunhes. <cite>Germanica</cite>, no. 67.
      December 2020.
    </p>
    <p>
      Lockwood, J. and Ari Kelman. "From Aesthetics to Experience: How Changing
      Conceptions of Prayer Changed the Sound of Jewish Worship."
      <cite>Religion and American Culture: A Journal of Interpretation.</cite>
      2020.
      <a
        href="https://www.academia.edu/85943555/From_Aesthetics_to_Experience_How_Changing_Conceptions_of_Prayer_Changed_the_Sound_of_Jewish_Worship"
        class="long"
        >https://www.academia.edu/85943555/From_Aesthetics_to_Experience_How_Changing_Conceptions_of_Prayer_Changed_the_Sound_of_Jewish_Worship
      </a>
    </p>
    <p>
      Lockwood, J. “A Cantorial Lesson: the lineage of a learning encounter.”
      <cite>Studies in American Jewish Literature</cite>, Special Issue,
      American Jews and Music, 2019.
      <a
        href="https://www.academia.edu/40580083/A_Cantorial_Lesson_The_Lineage_of_a_Learning_Encounter"
        class="long"
        >https://www.academia.edu/40580083/A_Cantorial_Lesson_The_Lineage_of_a_Learning_Encounter
      </a>
    </p>
    <p>
      Kirzane, J., et al. “Teaching Guide to Erotic Yiddish Poetry.”
      <cite>In Geveb: A Journal of Yiddish Studies</cite>, 2019.
      <a
        href="https://ingeveb.org/pedagogy/teaching-guide-to-erotic-yiddish-poetry"
        class="long"
        >https://ingeveb.org/pedagogy/teaching-guide-to-erotic-yiddish-poetry
      </a>
    </p>
    <p>
      Kelman, Ari Y., et al. “Safe and on the Sidelines: Jewish Students and the
      Israel-Palestine Conflict on Campus.” A study by the Research Group of the
      Stanford Concentration in Education and Jewish Studies, 2017.
    </p>

    <h3>BLOG</h3>

    <p>
      <cite>
        Conversations: Words and Music from the American Jewish Experience.
      </cite> Thirty-part series for the UCLA Milken Center for American Jewish Experience.
      2021-2.

      <a
        href="https://schoolofmusic.ucla.edu/resources/conversations-words-music-from-the-american-jewish-experience/"
        class="long"
        >https://schoolofmusic.ucla.edu/resources/conversations-words-music-from-the-american-jewish-experience/</a
      >
    </p>

    <h3>BOOK REVIEWS</h3>
    <p>
      Lockwood, J. review of <cite>
        The Lost World of Russia’s Jews: Ethnography and Folklore in the Pale of
        Settlement.
      </cite> by Abraham Rechtman, Nathaniel Deutsch and Noh Barrera.
      <cite>Ab Imperio</cite>, 2022.
    </p>
    <p>
      Lockwood, J. review of <cite>
        Jewish Religious Music in Nineteenth-Century America: Restoring the
        Synagogue Soundtrack.
      </cite> by Judah Cohen. <cite>Musica Judaica Online Reviews</cite>, 2020.
      <a
        href="https://mjoreviews.org/2020/10/30/jewish-religious-music-in-nineteenth-century-america-restoring-the-synagogue-soundtrack/"
        class="long"
        >https://mjoreviews.org/2020/10/30/jewish-religious-music-in-nineteenth-century-america-restoring-the-synagogue-soundtrack/
      </a>
    </p>

    <h3>SELECTED JOURNALISM</h3>
    <p>
      Lockwood, J. “Performing the High Holidays,“ <cite>Tablet</cite>, 2021
    </p>
    <p>
      Lockwood, J. “Golden Ages: Cantors and their Ghosts”
      <cite>Jewish Culture Festival: News</cite>, 2020
    </p>
    <p>
      Lockwood, J. “Blues Man of the Dirt” <cite>Satellite Magazine</cite>, 2015
    </p>
    <p>
      Lockwood, J. “Legendary Voices: The Education of the Great Cantors”
      <cite>Jewish Currents</cite>, 2014
      <a
        href="https://archive.jewishcurrents.org/legendary-voices-the-education-of-the-great-cantors/"
        class="long"
        >https://archive.jewishcurrents.org/legendary-voices-the-education-of-the-great-cantors/
      </a>
    </p>
    <p>
      Lockwood, J. “Saving Bulgaria's Jews: Church, State and Citizens United”
      <cite>Jewish Currents</cite>, 2013
    </p>
    <p>Lockwood, J. “Songs of Desert Wanderers”, <cite>Tablet</cite>, 2012</p>
    <p>
      Lockwood, J. “Searching the Torah's Seams: A Roundtable”
      <cite>Shm'a</cite>, 2012
    </p>
    <p>
      Lockwood, J. “A Year of Revolutionary Nigunim”
      <cite>The Jewish Daily Forward</cite>, 2011
      <a
        href="https://forward.com/culture/134799/a-year-of-revolutionary-nigunim/"
        class="long"
        >https://forward.com/culture/134799/a-year-of-revolutionary-nigunim/
      </a>
    </p>
    <p>
      Lockwood, J. “The Shofar and the Power of Memory” <cite>Shm'a</cite>, 2010
    </p>
    <p>
      Lockwood, J. “Out of Africa: Hazanut and the Blues”
      <cite>The Jewish Daily Forward</cite>, 2009
    </p>
    <p>
      Lockwood, J. “What is Jewish Music?,” “What is a Cantor?,” “What is a
      Shofar?” <cite>My Jewish Learning </cite>, web video series, 2009
    </p>
    <img src={endImage} alt="" class="end-of-page-image" />
  </main>
</Layout>
