* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  overflow-x: hidden;
  padding: 5em 0 0 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("/static/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
figure {
  text-align: center;
}

.split {
  display: flex;
}
.split > * {
  width: 100%;
  padding: 1em;
}

iframe {
  width: 100%;
  height: 50vh;
}

@media screen and (max-width: 1000px) {
  .split {
    flex-direction: column;
  }
}

h1,
h2,
h3 {
  font-family: "Newsreader", serif;
  margin-bottom: 1em;
}
p {
  padding: 0 1em;
}

/* NAV */
.nav {
  position: fixed;
  z-index: 500;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 1em;
  transition: box-shadow 500ms;
  text-shadow: 1px 1px 3px black;
}
.nav--shadow,
.nav:hover {
  box-shadow: 2px 2px 10px;
}
.nav__list {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0 3em;
  justify-content: flex-end;
}
.nav__list-item:not(:last-child) {
  margin-right: 5%;
}
.nav__list-item--home {
  margin-right: auto !important;
}
.nav__link,
.nav__link:visited {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}
.nav__link--active {
  color: black;
  text-decoration: underline;
}
.nav__mobile-toggle {
  color: white;
  width: 100%;
  text-align: center;
  display: none;
  background: none;
  border: none;
}
.nav__mobile-toggle svg {
  fill: white;
  filter: drop-shadow(0 0 0.5em black);
}

@media screen and (max-width: 1000px) {
  .nav {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 750px) {
  .nav {
    font-size: 2em;
    padding: 0.25em;
  }
  .nav__mobile-toggle {
    display: block;
  }
  .nav__list {
    display: none;
    padding: 0;
    text-align: center;
  }
  .nav__list-item {
    padding-top: 0.25em;
  }
  .nav__list-item:hover,
  .nav__list-item:focus {
    background: rgba(255, 255, 255, 0.3);
  }
  .nav__list--mobile {
    display: block;
  }
}

/* FOOTER */
.footer {
  margin-top: auto;
  padding: 4em 2em;
  background: rgba(0, 0, 20, 0.8);
  color: white;
}
