.split-ish {
  display: flex;
}
.split-ish > * {
  width: 100%;
}
.hero__text h1 {
  text-align: center;
  padding: 1em 0;
  line-height: 1.2em;
}
.hero__para {
  text-align: center;
  font-size: 1.5em;
}
.hero__image {
  height: 500px;
  object-fit: contain;
  animation: embiggen 1s;
}
.main {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 5em auto;
  max-width: clamp(30ch, 75vw, 70ch);
}
.main__para {
  margin: 2em 0;
}
@keyframes embiggen {
  from {
    transform: scale(0.8) translateY(10%);
    opacity: 0;
  }
}
@media screen and (max-width: 1000px) {
  .split-ish {
    flex-direction: column;
  }
  .hero__image {
    margin-top: 5em;
  }
}

.album-notice {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8em;
}
.album-img {
  width: 70%;
  object-fit: contain;
  margin: 0 auto;
}

.mailing-list {
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.mailing-list a {
  display: inline-block;
  padding: 0.5rem;
  font-size: larger;
  font-weight: bold;
  background: darkblue;
  color: lightblue;
  text-decoration: none;
  border-radius: 0.35rem;
}
.mailing-list a:hover {
  opacity: 0.8;
}
