---
import { Navbar } from "../components/navbar.tsx";
import { keywords as defaultKeywords } from "../lib/utils";
type PageName =
  | "home"
  | "music"
  | "scholarship"
  | "multidisciplinary work"
  | "events"
  | "contact";
export interface Props {
  title: string;
  keywords?: string[];
  active: PageName;
}

const { title, keywords = defaultKeywords } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords.join(", ")} />
    <link rel=" icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:wght@500&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body
    style="background-image: url(/background2.jpeg)"
    class="bg-sky-200/50 bg-cover bg-fixed pt-24 text-lg bg-blend-lighten"
  >
    <Navbar client:load />

    <slot />

    <footer class="mt-40 bg-sky-200/50 px-5 py-20 md:px-52">
      <p>&copy; {new Date().getFullYear()} Jeremiah Lockwood</p>
      <p><a href="/contact">Contact</a></p>
      <p>
        Website created by <a href="mailto:jacobulysseslockwood@gmail.com"
          >Jacob Lockwood
        </a>
      </p>
    </footer>
  </body>
</html>
