---
import { Navbar } from "../components/navbar.tsx";
import { keywords as defaultKeywords } from "../lib/utils";
export interface Props {
  title: string;
  keywords?: string[];
}

const { title, keywords = defaultKeywords } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords.join(", ")} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:wght@500&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body
    class="relative min-h-screen bg-sky-200 pb-96 pt-24 text-lg selection:bg-sky-400/50"
  >
    <div
      class="fixed inset-0 -z-50 h-screen w-screen bg-sky-900/10 bg-cover"
      style="background-image: url(/background.webp);"
    >
    </div>

    <Navbar client:load />

    <slot />

    <footer class="absolute bottom-0 flex h-60 w-full bg-sky-200/50 p-10">
      <div class="m-auto w-max text-center">
        <p>&copy; {new Date().getFullYear()} Jeremiah Lockwood</p>
        <p>
          <a href="/contact" class="text-sky-700 underline underline-offset-4">
            Contact
          </a>
        </p>
        <p class="mt-5 text-base text-sky-950/70">
          Website developed by <a
            class="underline underline-offset-2"
            href="mailto:jacobulysseslockwood@gmail.com"
            >Jacob Lockwood
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
