---
import NavBar from "../components/NavBar.svelte";
import { keywords as defaultKeywords } from "../lib/utils";
type PageName =
  | "home"
  | "music"
  | "scholarship"
  | "multidisciplinary work"
  | "events"
  | "contact";
export interface Props {
  title: string;
  keywords?: string[];
  active: PageName;
}

const { title, active, keywords = defaultKeywords } = Astro.props as Props;
interface Link {
  url: string;
  name: PageName;
  active?: boolean;
}
const links: Link[] = [
  { url: "/", name: "home", active: active === "home" },
  { url: "/music/", name: "music", active: active === "music" },
  {
    url: "/scholarship",
    name: "scholarship",
    active: active === "scholarship",
  },
  {
    url: "/multidisciplinary",
    name: "multidisciplinary work",
    active: active === "multidisciplinary work",
  },
  { url: "/events", name: "events", active: active === "events" },
  { url: "/contact", name: "contact", active: active === "contact" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords.join(", ")} />
    <link rel=" icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:wght@500&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body
    style="background-image: url(/background2.jpeg)"
    class="bg-sky-200/50 bg-cover bg-fixed pt-20 text-lg bg-blend-lighten"
  >
    <NavBar title="Jeremiah Lockwood" links={links} client:load />

    <slot />

    <footer class="mt-40 bg-sky-950/50 px-5 py-20 md:px-52">
      <p>&copy; {new Date().getFullYear()} Jeremiah Lockwood</p>
      <p><a href="/contact">Contact</a></p>
      <p>
        Website created by <a href="mailto:jacobulysseslockwood@gmail.com"
          >Jacob Lockwood
        </a>
      </p>
    </footer>
  </body>
</html>
